**/node_modules/

.env
.env.*
*.env
server/env/

.expo/
devices.json
web-build/

*.log
npm-debug.log*

.DS_Store
Thumbs.db
.vscode/
.idea/

!README.md
!package.json
!package-lock.json
!app.json
!config.js
!server/index.js
!server/nusmods.js
!server/UserDetails.js
!client/app/**
!client/assets/**